@import '../global.scss';
.card {
    margin-left: -5rem;
    @media (max-width: 1700px) {
        margin-left: 0;
    }
} 
h2 {
    white-space: nowrap; overflow: hidden; text-overflow: ellipsis;
}

span {
    font-weight: normal;
}

a {
    color: blue;
    text-decoration: underline;

    &:hover {
        cursor: pointer;
    }
}