@import '../global.scss';

.title {
    text-align: center;
    font-size: 5rem;
    margin-top: 1rem;
}

.card {
    width: 120rem;
    margin: 0 auto;
    padding: 3rem;
}

.subtitles-header {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}