.card {
    width: 55rem;
    border-radius: 3rem;
    box-shadow: 0.8rem 0.8rem 1.4rem var(--greyLight-2), -0.2rem -0.2rem 1.8rem var(--white);
    padding: 4rem;
    margin-top: 3rem;

    @media (max-width: 560px) {
        width: 35rem;
        padding: 2rem;
    }
}